<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BouncerConfiguration"
             type="Sem.GenericHelpers.Contracts.Configuration.ConfigReader, Sem.GenericHelpers.Contracts"/>
  </configSections>

  <BouncerConfiguration>
    <SuppressAll>true</SuppressAll>
  </BouncerConfiguration>

</configuration>