<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="BouncerConfiguration" type="Sem.GenericHelpers.Contracts.Configuration.ConfigReader, Sem.GenericHelpers.Contracts"/>
  </configSections>

  <BouncerConfiguration>
    <SuppressAll>false</SuppressAll>
    <Rules>
      
      <ConfiguredRuleInformation Rule="Sem.GenericHelpers.Contracts.Rules.StringRegexMatchRule, Sem.GenericHelpers.Contracts" 
                                 TargetType="Sem.Test.GenericHelpers.Contracts.Entities.MessageOne, Sem.Test.GenericHelpers.Contracts" 
                                 TargetProperty="Content" Context="config" Parameter=".*sven.*" />
      
      <ConfiguredRuleInformation Rule="Sem.GenericHelpers.Contracts.Rules.StringRegexMatchRule, Sem.GenericHelpers.Contracts" 
                                 TargetType="Sem.Test.GenericHelpers.Contracts.Entities.MessageTwo, Sem.Test.GenericHelpers.Contracts" 
                                 TargetProperty="Content" Context="config" Parameter=".*maria.*" />
      
      <ConfiguredRuleInformation Rule="Sem.GenericHelpers.Contracts.Rules.StringRegexMatchRule, Sem.GenericHelpers.Contracts" 
                                 TargetType="Sem.Test.GenericHelpers.Contracts.Entities.MessageOne, Sem.Test.GenericHelpers.Contracts"
                                 ExceptionType="System.NullReferenceException"
                                 TargetProperty="Content" Context="config2" Parameter=".*maria.*" />
      
    </Rules>
  </BouncerConfiguration>
  
</configuration>